[flake8]
show-source=true
statistics=true
max-line-length = 120
ignore = W503, E203
per-file-ignores =
  src/lattifai/caption/caption.py: W503
  src/lattifai/caption/formats/ttml.py: W503
  src/lattifai/caption/formats/gemini.py: W503
  src/lattifai/caption/formats/__init__.py: E401, F401
  tests/*/*.py: E501, F541, F401, F841, W605, E226, E741
  tests/*.py: F541

exclude =
  .git,
  tests/data/captions/*.vtt
